# Build
build
release
debug
*.so
*.dylib

# Package
bun.lockb
node_modules/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# cifar data
cifar-100-binary.tar
cifar-100-binary

# VIM Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# VSCode Config
.vscode/

# macOS General
.DS_Store
.AppleDouble
.LSOverride
